{% extends "admin.html" %}

{% block page_content %}
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Sélectionner un Asset</h4>
        <p class="card-description"> Consulter la fiche d'un Asset </p>
        
        <script>
          function process()
          {
              var url = "{{ url_for('asset_info') }}" +"/"+ document.getElementById("id").value;
              console.log(url)
              location.href = url;
              return false;
          }
        </script>
        <form class="form-inline" onSubmit="return process()"; novalidate>
          <div class="form-group">
            {{ form.id.label(class="sr-only") }}
            {{ form.id(class="form-control mb-2 mr-sm-2") }}
          </div>
          {{ form.submit(class="btn btn-gradient-primary mb-2") }}
        </form>
      </div>
    </div>
  </div>
  </div>
  {% if asset is defined %}
  {% if asset is none %}
  <div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p>Aucun Asset n'existe avec l'ID <code>{{searched_id}}</code>. Veuillez refaire votre recherche
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  
  {% if asset is not none %}
  <div class="row">
    <div class="col-7 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Fiche de l'Asset</h4>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td class="text-muted">
                  ID
                </td>
                <td>
                  {{asset.id}}
                </td>
              </tr>
              <tr>
                <td class="text-muted">
                  Collection
                </td>
                <td>
                  {{asset.collection.name}}
                </td>              
              </tr>
              <tr>
                <td class="text-muted">
                  Nom
                </td>
                <td>
                  {{asset.name}}
                </td>
              </tr>
              <tr>
                <td class="text-muted">
                  Format
                </td>
                <td>
                  {{asset.format.display_name()}}
                </td>
              </tr>
              <tr>
                <td class="text-muted">
                  Nom du fichier
                </td>
                <td>
                  {{asset.filename}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <div class="col-5 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Aperçu</h4>
            {% if asset.format.media == 'image' %}
            <img src="{{asset.id}}/data" class="mw-100 w-100 rounded">
            {% elif asset.format.media == 'audio' %}
            <img id="audio-player" src="{{ url_for('static',filename='images/play-button.png') }}" width="150" class="center img-link" onclick="playAudio()"></i>
            {% endif %}
        </div>
      </div>
    </div>  
  </div>
  <div class="row">
     <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Localisation</h4>
        <p class="card-description"> Cet Asset est stocké dans les Data Center suivants</p>
        <div class="row">
          <div class="col-7 pr-1">
            <div id="mapid" style="max-width: 100%; height: 250px"></div>
          </div>
          <div class="col-5 pl-10">
          <table class="table">
            <thead>
              <tr>
                <th>
                  Provider
                </th>
                <th>
                  Emplacement
                </th>
              </tr>
            </thead>
            <tbody>
            {% for sl in storage_locations %}
              <tr>
                <td>
                  {{sl.data_provider.name}}
                </td>
                <td>
                  {{sl.name}}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  <div class="row">
    <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Historique de l'asset</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>
                  Date
                </th>
                <th>
                  Evènement
                </th>
                <th>
                  Détails
                </th>
              </tr>
            </thead>
            <tbody>
            {% for h in history_table %}
            <tr>
              <td>
                {{h[0]}}
              </td>
              <td>
                {{h[1]}}
              </td>
              <td>
                {{h[2]}}
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>


  {% endif %}
  {% endif %}
{% endblock %}

{% block script %}
{% if asset is defined %}
{% if asset is not none %}
    <script type="text/javascript">
      var mymap = L.map('mapid').setView([20, 0], 1);
      
      	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);
    
    {% for sl in storage_locations %}
      var marker{{loop.index0}} = createMarker({{sl.latitude}}, {{sl.longitude}},"{{sl.data_provider.name}}: {{sl.name}}","{{url_for('doc_storage', id=sl.id)}}")
      marker{{loop.index0}}.addTo(mymap);
    {% endfor %}
    
    var sound = new Howl({
        src: ['{{asset.id}}/data'],
        format : ['{{asset.format.name}}']
      });
    
    function playAudio() {
      $('#audio-player').attr("src", "{{ url_for('static',filename='images/pause-button.png') }}");
      $('#audio-player').attr("onclick", "pauseAudio()");
    
      sound.play();
    }
    
    function pauseAudio() {
      $('#audio-player').attr("src", "{{ url_for('static',filename='images/play-button.png') }}");
      $('#audio-player').attr("onclick", "playAudio()");
          
      sound.pause();
    }


    
  </script>
{% endif %}
{% endif %}
{% endblock %}