<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Longevity</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='vendors/css/vendor.bundle.base.css') }}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.png') }}" />
  </head>
  <body>
      <div class="container-scroller">
		{% block content %}{% endblock %}

	  </div>
	
  
    <!-- plugins:js -->
    <script src="{{ url_for('static',filename='vendors/js/vendor.bundle.base.js') }}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{{ url_for('static',filename='vendors/chart.js/Chart.min.js') }}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{{ url_for('static',filename='js/off-canvas.js') }}"></script>
    <script src="{{ url_for('static',filename='js/hoverable-collapse.js') }}"></script>
    <script src="{{ url_for('static',filename='js/misc.js') }}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{{ url_for('static',filename='js/dashboard.js') }}"></script>
    <script src="{{ url_for('static',filename='js/todolist.js') }}"></script>
    <!-- End custom js for this page -->
  </body>
</html>