<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Longevity</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='vendors/css/vendor.bundle.base.css') }}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.png') }}" />
  </head>
  <body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="modal" tabindex="-1" role="dialog" id="flashModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Flashed messages</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endwith %}
    
      <div class="container-scroller">
		{% block content %}{% endblock %}

	  </div>
	
    
    <!-- plugins:js -->
    <script src="{{ url_for('static',filename='vendors/js/vendor.bundle.base.js') }}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{{ url_for('static',filename='vendors/chart.js/Chart.min.js') }}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{{ url_for('static',filename='js/off-canvas.js') }}"></script>
    <script src="{{ url_for('static',filename='js/hoverable-collapse.js') }}"></script>
    <script src="{{ url_for('static',filename='js/misc.js') }}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{{ url_for('static',filename='js/dashboard.js') }}"></script>
    <script src="{{ url_for('static',filename='js/todolist.js') }}"></script>
    <script src="{{ url_for('static',filename='js/file-upload.js') }}"></script>
    
    <!-- My scripts -->
    <script src="{{ url_for('static',filename='js/longevity.js') }}"></script>
    
    <!-- Leaflet -->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="   crossorigin=""></script>
    <!-- End custom js for this page -->
        <!-- Show flashed messages in Modal -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        
        <script type="text/javascript">
        (function ($) {
            $(window).on('load',function(){
                $('#flashModal').modal('show');
            });
        })(jQuery)
        </script>
        {% endif %}
    {% endwith %}
    
    {% block script %}{% endblock %}
  </body>
</html>