{% extends "admin.html" %}

{% block page_content %}
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Sélectionner une collection</h4>
        <p class="card-description"> Consulter les informations de votre collection </p>
        
        <script>
          function process()
          {
              var url = "{{ url_for('collection') }}" +"/"+ document.getElementById("collection").value;
              console.log(url)
              location.href = url;
              return false;
          }
        </script>
        <form class="form-inline" onSubmit="return process()"; novalidate>
          <div class="form-group">
            {{ collection_select_form.collection.label(class="sr-only") }}
            {{ collection_select_form.collection(class="form-control mb-2 mr-sm-5") }}
          </div>
          {{ collection_select_form.submit(class="btn btn-gradient-primary mb-2") }}
        </form>
      </div>
    </div>
  </div>
  </div>
  {% if collection is defined %}
  {% if collection is none %}
  <div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p>Aucune Collection n'existe avec l'ID <code>{{searched_id}}</code>. Veuillez refaire votre recherche
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if collection is not none %}
    <div class="row">
      <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
          <div class="card-body">
            <img src="{{ url_for('static',filename='images/circle.svg') }}" class="card-img-absolute" alt="circle-image" />
            <h4 class="font-weight-normal mb-5">Total Assets <i class="mdi mdi-archive mdi-24px float-right"></i>
            </h4>
            <h1 class="mb-3">{{asset_count}}</h1>
          </div>
        </div>
      </div>
      <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
          <div class="card-body">
            <img src="{{ url_for('static',filename='images/circle.svg') }}" class="card-img-absolute" alt="circle-image" />
            <h4 class="font-weight-normal mb-5">Nombre de Data Centers <i class="mdi mdi-rhombus-split mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-3">{{storage_locations|length}}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
          <div class="card-body">
            <img src="{{ url_for('static',filename='images/circle.svg') }}" class="card-img-absolute" alt="circle-image" />
            <h4 class="font-weight-normal mb-5">Nombre d'Accès <i class="mdi mdi-eye mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-3">{{read_count}}</h2>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-7 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Fiche de la Collection</h4>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td class="text-muted">
                  ID
                </td>
                <td>
                  {{collection.id}}
                </td>
              </tr>
              <tr>
                <td class="text-muted">
                  Nom
                </td>
                <td>
                  {{collection.name}}
                </td>              
              </tr>
              <tr>
                <td class="text-muted">
                  Description
                </td>
                <td>
                  {{collection.description}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <div class="col-5 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Documents les plus consultés</h4>
        </div>
      </div>
    </div>  
  </div>

  <div class="row">
     <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Localisation</h4>
        <p class="card-description"> Liste des Data centers où est stockée cette collection </p>
        <div class="row">
          <div class="col-8 pr-1">
            <div id="mapid" style="max-width: 100%; height: 250px"></div>
          </div>
          <div class="col-2 pl-10">
          <table class="table">
            <thead>
              <tr>
                <th>
                  Régions
                </th>
              </tr>
            </thead>
            <tbody>
            {% for region in storage_regions %}
              <tr>
                <td>
                  {{region}}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          </div>
          <div class="col-2 pl-10">
          <table class="table">
            <thead>
              <tr>
                <th>
                  Data Providers
                </th>
              </tr>
            </thead>
            <tbody>
            {% for provider in storage_providers %}
              <tr>
                <td>
                  {{provider.name}}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>


  {% endif %}
  
  {% endif %}


{% endblock %}

{% block script %}
    <script type="text/javascript">
      var mymap = L.map('mapid').setView([20, 0], 1);
      
      	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);
    
    {% for sl in storage_locations %}
      var marker{{loop.index0}} = new L.marker([{{sl.latitude}}, {{sl.longitude}}]).bindPopup("{{sl.name}}").addTo(mymap);
    {% endfor %}
  </script>

{% endblock %}
