{% extends "admin.html" %}

{% block page_content %}

<div class="row">
    <div class="col-7 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
	  <div class="row">
		<div class="col-5">
			<img src="{{ url_for('static',filename='images/logos/'+ storage_location.data_provider.name+'.svg') }}" class="mw-100 w-100 rounded">
		</div>
		<div class="col-7">
			<span class="font-weight-bold">{{storage_location.data_provider.name}}</span> {{storage_location.data_provider.description}}
		</div>
	   </div>
      </div>
    </div>
  </div>
  <div class="col-5 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
		<h4 class="card-title">Data Center : {{storage_location.name}}</h4>
		<div id="mapid" style="max-width: 100%; height: 150px"></div>
	  </div>
	</div>
  </div>
</div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
      var mymap = L.map('mapid').setView([{{storage_location.latitude}}, {{storage_location.longitude}}], 4);
      
      	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);
    
    var marker = new L.marker([{{storage_location.latitude}}, {{storage_location.longitude}}]).bindPopup("{{storage_location.name}}").addTo(mymap);
  </script>

{% endblock %}
