{% extends "admin.html" %}

{% block page_content %}
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ajouter un Asset</h4>
        <p class="card-description"> Ajouter un Asset et stocker le dans un Data Center </p>
        <form class="forms-sample" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.collection.label }}
            {{ form.collection(class="form-control") }} 
          </div>
          <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.format.label }}
            {{ form.format(class="form-control") }} 
          </div>
          <div class="form-group">
          {{ form.file.label }}
          {{ form.file(class="file-upload-default")}}
          <div class="input-group col-xs-12">
            <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
            <span class="input-group-append">
              <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
            </span>
          </div>  
          </div>
          {{ form.submit(class="btn btn-gradient-primary mr-2") }}
        
        </form>
      </div>
    </div>
  </div>
    </div>
{% endblock %}